body {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  --themeWhite: rgb(255, 255, 255);
  --themeGray: rgb(226, 232, 240);
  --themeBlue: rgb(25, 146, 212);
  --themeYellow: rgb(240, 180, 41);
  --themeBlack: rgb(46, 46, 46);
  --themeShadow: rgb(180, 180, 180);
}

.container {
  height: 100%;
  width: 100%;
  background-color: var(--themeGray);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar content content content infobar";
}

.header {
  grid-area: header;
  background-color: var(--themeWhite);
  box-shadow: 0px 5px 10px var(--themeShadow);
}

.topHeader {
  height: 50%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
}

.headerSearchArea {
  grid-column: span 2;
  display: flex;
  width: 95%;
  margin-left: 3%;
  align-items: center;
}

#searchIcon {
  height: calc(1rem + 0.6vw);
  width: auto;
  margin-right: 1ch;
}

input[type="text"] {
  border-style: none;
  background-color: var(--themeGray);
  border-radius: 10px;
  height: 3.2ch;
  width: 100%;
}

input[type="text"]:hover {
  background-color: rgb(200, 200, 200);
}

.headerProfileArea {
  grid-column: 3 / 4;
  align-items: center;
  justify-content: center;
  gap: 2%;
  display: flex;
}

#notificationIcon {
  width: 7%;
  height: auto;
  margin-right: 5%;
}

.profileName {
  font-size: calc(0.8rem + 0.6vw);
  font-weight: 800;
}

.bottomHeader {
  height: 50%;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

.headerProfileDisplayArea {
  align-items: center;
  display: flex;
  margin-left: 3%;
  gap: 1.5%;
}

#profileIconBig {
  height: calc(2.5rem + 0.5vw + 1.5vh);
  width: auto;
}

.profileMessage {
  font-size: calc(0.3rem + 0.6vw);
  font-weight: 600;
}

.profileNameBig {
  font-size: calc(1.2rem + 0.6vw);
  font-weight: 800;
}

.buttonArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  width: calc(5.5rem + 0.6vw);
  height: 50%;
  border-style: none;
  border-radius: 20px;
  background-color: var(--themeBlue);
  color: var(--themeWhite);
  font-size: 1.2rem;
  font-weight: 800;
}

.button:hover {
  cursor: pointer;
  background-color: hsl(204, 65%, 60%);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--themeBlue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.5fr 1fr 1.3fr;
}

.dashboardHeading, .dbBox {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.dashboardSection1, .dashboardSection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    margin-top: 1.5%;

}

#dbHeadingText{
    font-size: calc(1.4rem + 1vw);
}

#dbHeadingIcon{
    width: calc(4rem + 0.1vw);
    height: auto;
}

.dbIcon{
    fill: var(--themeWhite);
    width: calc(1.3rem + 1vw);
    height: auto;
}

.dbText{
    color: var(--themeWhite);
    font-size: calc(0.8rem + 0.6vw);
    font-weight: 800;
    margin-left: 5%;
}

.content {
  grid-area: content;
}

.infobar {
  grid-area: infobar;
}
